body {
  padding-top: 150px;
}

#title {
  color: red;
}

#blog {
  display: inline;
  display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  text-align: center;
  align-content: center;
}

.row {
  padding: 15px;
}

figure {
  text-align: center;
  align-content: center;
}

#photolink {
  padding: 15px;
}

#photolink:hover {
  background-color: #E3DDDD;
  transition: background 1500ms;
}
