body {
  padding-top: 150px;
}

#title {
  color: red;
}

#blog {
  display: inline;
  display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  text-align: center;
  align-content: center;
}

.row {
  padding: 15px;
}

#photolink:hover {
  text-emphasis-color: white;
  background-color: black;
  justify-content: center;
  text-align: center;
  align-content: center;
}
